<div class="container" align="center">
	<div class="title">
		Welcome! Add the information below to complete your profile.
	</div>
	<div class="sub-title">
		We only let employers view complete profiles, so make sure to fill everything out!
	</div>
	<div class="row-fluid">
		<div class="col-md-4">
			<div class="profile-box">
				<%= form_tag({:action => "upload_picture", :controller => "profiles"}, {:class => "dropzone", :id => "filedrop2" }) do %>
					<% if @profile.image %>
						<div class="profile-image">
							<img src="<%=@profile.image%>">
						</div>
					<% else %>
						<div class="profile-image">
							Click to upload profile photo
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="profile-box">
				<%= form_tag({:action => "upload_resume", :controller => "profiles"}, {:class => "dropzone", :id => "filedrop" }) do %>
						<div class="fallback">
							<input name="file" type="file" multiple />
						</div>
					<% if @profile.resume %>
						<div class="file-box">
							Your Resume
							<div class="file-inner-box">
								<img src="/assets/sample.png">
							</div>
						</div>
					<% else %>
						<div class="file-box">
							<a href="<%=@profile.resume%>" target="_blank">
								<div class="file-inner-box">
									Upload Resume
								</div>
							</a>
						</div>
					<% end %>		
				<% end %>
			</div>
		</div>
		<div class="col-md-8">
			<div class="profile-box">
				<%= form_for @profile, :validate => true do |f| %>
					<div><%= f.label :school, "University" %><br />
					  <%= f.text_field :school %></div><br />
					  <div><%= f.label :year, "Expected Graduation" %><br />
					  <%= f.select :year, options_for_select(years, :selected => @profile.year)%><br /><br />
					  <div><%= f.label :major %><br />
					  <%= f.text_field :major %></div><br />
				<%= f.submit %><br /><br />
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
      $("[id='profile_school']").autocomplete({
        source: function(request, response){
          $.ajax({
            url:"/get_schools",
            data: {query: request.term},
            success: function(result){
              response(result);
              console.log(result);
            }
          });
        },
        minLength: 2
      });
      $("[name='school']").attr( "autocomplete", "on" );
      $( "[name='school']" ).autocomplete( "enable" );
</script>

<script type="text/javascript">
	Dropzone.autoDiscover = false;
	var dz = new Dropzone("#filedrop", {
        url: "/upload_resume",
        dictDefaultMessage: "",
        acceptedFiles: 'application/pdf',
        dictInvalidFileType: 'Invalid file type - please upload a pdf'
    });
 	dz.on("complete", function (file) {
        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            location.reload();
        }
    });
</script>

<script type="text/javascript">
	Dropzone.autoDiscover = false;

    var dz2 = new Dropzone("#filedrop2", {
        url: "/upload_picture",
        dictDefaultMessage: "",
        acceptedFiles: 'image/*',
        dictInvalidFileType: 'Invalid file type - please upload a jpg or png'
    });
 	dz2.on("complete", function (file) {
        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            location.reload();
        }
    });

</script>