<div class="container" align="center">
	<% if @profile.resume && @profile.school && @profile.major && @profile.year && @profile.gpa %>
		`<div class="title">
			Thanks! We have all your info and will be in touch soon.
		</div>
		<div class="sub-title">
			You have until 11:59PM on October 8, 2015 to edit/change this information.
		</div>
	<% else %>
		<div class="title">
			Welcome! Add the information below to complete your profile.
		</div>
		<div class="sub-title">
			We only accept complete profiles, so make sure to fill everything out!
		</div>
	<% end %>
	<div class="row-fluid">
		<div class="col-md-4">
			<div class="profile-box">
				<%= form_tag({:action => "upload_resume", :controller => "profiles"}, {:class => "dropzone", :id => "filedrop" }) do %>
						<div class="fallback">
							<input name="file" type="file" multiple />
						</div>
					<% if @profile.resume %>
						<div class="file-box">
							Your Resume
							<div class="file-inner-box">
								<img src="<%=asset_path('sample.png')%>">
							</div>
							(click to edit)
						</div>
					<% else %>
						<div class="file-box">
							<a href="<%=@profile.resume%>" target="_blank">
								<div class="file-inner-box">
									Upload Resume
								</div>
							</a>
						</div>
					<% end %>		
				<% end %>
			</div>
		</div>
		<div class="col-md-8">
			<div class="profile-box">
				<%= form_for @profile do |f| %>
					<div class="row">
						<div class="col-md-6">
							<div><%= f.label :school, "University" %><br />
						  	<%= f.text_field :school %></div><br />
						</div>
						
						<div class="col-md-6">
							<div><%= f.label :major %><br />
						  	<%= f.text_field :major %></div><br />
						</div>
						<div class="col-md-6">
							<div><%= f.label :year, "Expected Graduation" %><br /></div>
						    <%= f.select :year, options_for_select(years, :selected => @profile.year)%><br /><br />
						</div>
						<div class="col-md-6">
							<div><%= f.label :gpa, "GPA (out of 4.0)" %><br />
						 	<%= f.select :gpa, options_for_select(gpa, :selected => @profile.gpa)%></div>
						</div>
					</div>
					<br>
				<%= f.submit %><br /><br />
				<% end %>
			</div>
			<div class="profile-box">
				<% if @profile.firms.where(name: "apollo").first %>
					<div> Which of the following areas interest you? (you can only apply to one)</div>
					<hr>
						<%= form_tag(:action => "update_position", :controller => "candidates") do %>
						<div class="row">
							<div class="col-md-4">
								<div><%= label_tag "position_credit", "Credit" %><br />
							  	<%= radio_button_tag "position", "credit" %></div><br />
							</div>
							<div class="col-md-4">
								<div><%= label_tag "position_private_equity", "Private Equity" %><br />
							  	<%= radio_button_tag "position", "private equity" %></div><br />
							</div>
							<div class="col-md-4">
								<div><%= label_tag "position_real_estate", "Real Estate" %><br />
							  	<%= radio_button_tag "position", "real estate" %></div><br />
							</div>
						</div>						  
						<%= submit_tag "Submit" %><br /><br />
						<% end %>
				<% else %>
					<div> Which of the following areas interest you? </div>
						  <hr>
						<%= form_tag(:action => "update_tags", :controller => "profiles") do %>
						<div class="row">
							<div class="col-md-2">
								<div><%= label_tag "tags[:tag_1]", "Banking" %><br />
							  	<%= check_box_tag "tags[:tag_1]", 1, Profiletag.where(tag_id: 1, profile_id: @profile.id).first %></div><br />
							</div>
							<div class="col-md-3">
								<div><%= label_tag "tags[:tag_2]", "Private Equity" %><br />
							  	<%= check_box_tag "tags[:tag_2]", 4, Profiletag.where(tag_id: 4, profile_id: @profile.id).first %></div><br />
							</div>
							<div class="col-md-3">
								<div><%= label_tag "tags[:tag_3]", "Hedge Funds" %><br />
							  	<%= check_box_tag "tags[:tag_3]", 2, Profiletag.where(tag_id: 2, profile_id: @profile.id).first %></div><br />
							</div>
							<div class="col-md-2">
								<div><%= label_tag "tags[:tag_4]", "Consulting" %><br />
							  	<%= check_box_tag "tags[:tag_4]", 3, Profiletag.where(tag_id: 3, profile_id: @profile.id).first %></div><br />
							</div>
							<div class="col-md-2">
								<div><%= label_tag "tags[:tag_5]", "Tech" %><br />
							  	<%= check_box_tag "tags[:tag_5]", 5, Profiletag.where(tag_id: 5, profile_id: @profile.id).first %></div><br />
							</div>
						</div>						  
						<%= submit_tag "Update Interests" %><br /><br />
						<% end %>
					</div>
				<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
      $("[id='profile_school']").autocomplete({
        source: function(request, response){
          $.ajax({
            url:"/get_schools",
            data: {query: request.term},
            success: function(result){
              response(result);
              console.log(result);
            }
          });
        },
        minLength: 2
      });
      $("[name='school']").attr( "autocomplete", "on" );
      $( "[name='school']" ).autocomplete( "enable" );
</script>

<script type="text/javascript">
	Dropzone.autoDiscover = false;
	var dz = new Dropzone("#filedrop", {
        url: "/upload_resume",
        dictDefaultMessage: "",
        acceptedFiles: 'application/pdf',
        dictInvalidFileType: 'Invalid file type - please upload a pdf'
    });
 	dz.on("complete", function (file) {
        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            location.reload();
        }
    });
</script>

<script type="text/javascript">
	Dropzone.autoDiscover = false;

    var dz2 = new Dropzone("#filedrop2", {
        url: "/upload_picture",
        dictDefaultMessage: "",
        acceptedFiles: 'image/*',
        dictInvalidFileType: 'Invalid file type - please upload a jpg or png'
    });
 	dz2.on("complete", function (file) {
        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            location.reload();
        }
    });

</script>