<div class="container" align="center">
	<div class="title">
		Candidate Dashboard
		<hr>
	</div>
		<% @profiles.each_slice(3) do |slice| %>
			<div class="row">
				<% slice.each do |profile| %>
					<div class="col-md-4">
						<div class="profile-box">
							<div>
								<%= profile.user.full_name %>
							</div>
							<div>
								<% if profile.image %>
									<img src="<%=profile.image%>" class="sm">
								<% else %>
									<img src="/assets/default.png" class="sm">
								<% end %>
							</div>
							<br>
							<div>
								<%= profile.school %>
							</div>
							<div>
								<% if profile.year %>
									Graduating in <%= profile.year %>
								<% end %>
							</div>
							<div>
								<% if profile.major %>
									Major: <%= profile.major.capitalize %>
								<% end %>
							</div>
							<br>
							<div>
								<a href="<%=profile.resume%>" target="_blank">Click to view <%= profile.user.firstname.capitalize %>'s resume</a>
							</div>
						</div>
					</div>
				<% end %>	
			</div>
		<% end %>		
</div>