<div class="container" align="center">
	<div class="title">
		Candidate Dashboard
		<hr>
	</div>
		<div class="row" id="filterrow">
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
			<div class="dropdown" id="filters">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Filter By
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" align="left">
			  	<% Tag.all.each do |tag| %>
				    <li><a href="#">Interested in <%= tag.name.capitalize %></a></li>
			    <% end %>
			  </ul>
			</div>
		</div>
	</div>
		<% @profiles.each_slice(3) do |slice| %>
			<div class="row">
				<% slice.each do |profile| %>
					<div class="col-md-4">
						<div class="profile-box">
							<div>
								<%= profile.user.full_name %>
							</div>
							<div>
								<% if profile.image %>
									<img src="<%=profile.image%>" class="sm">
								<% else %>
									<img src="<%=asset_path('default.png')%>" class="sm">
								<% end %>
							</div>
							<br>
							<div>
								<%= profile.school %>
							</div>
							<div>
								<% if profile.year %>
									Graduating in <%= profile.year %>
								<% end %>
							</div>
							<div>
								<% if profile.major %>
									Major: <%= profile.major.capitalize %>
								<% end %>
							</div>
							<div>
								<% if profile.profiletags.first %>
									Interested in: <%= profile.tags.map(&:name).join(', ') %> 
								<% end %>
							</div>
							<br>
							<div>
								<a href="<%=profile.resume%>" target="_blank">Click to view <%= profile.user.firstname.capitalize %>'s resume</a>
							</div>
						</div>
					</div>
				<% end %>	
			</div>
		<% end %>		
</div>